<?php
return array(
    'modules' => array(
        'ZfModule',
        'ZfcBase',
    ),
    'module_listener_options' => array(
        'module_paths' => array(
            'moduledev',
        ),
    ),
);