<?xml version="1.0"?>
<!-- works fine with PHPUnit-3.6.10 -->
<phpunit
        bootstrap="./Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuite name="Test all modules">
        <directory>./module/Application/test/ApplicationTest</directory>
        <directory>./module/User/test/UserTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module/Application/src</directory>
            <directory suffix=".php">./module/User/src</directory>
        </whitelist>
    </filter>
    <logging>
        <log
            type="coverage-clover"
            target="./clover.xml"
        />
    </logging>
</phpunit>
