<?xml version="1.0"?>
<phpunit
    bootstrap="./module/Application/test/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuite name="Test all modules">
        <directory>./module/Application/test/ApplicationTest</directory>
        <directory>./module/User/test/UserTest</directory>
        <directory>./module/ZfModule/test/ZfModuleTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module/Application/src</directory>
            <directory suffix=".php">./module/User/src</directory>
            <directory suffix=".php">./module/ZfModule/src</directory>
        </whitelist>
    </filter>
</phpunit>
