<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
    backupGlobals="false"
    bootstrap="./module/Application/test/bootstrap.php"
    colors="true"
    columns="max"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="true"
>
    <testsuite name="Test all modules">
        <directory>./module/Application/test/ApplicationTest</directory>
        <directory>./module/User/test/UserTest</directory>
        <directory>./module/ZfModule/test/ZfModuleTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module/Application/src</directory>
            <directory suffix=".php">./module/User/src</directory>
            <directory suffix=".php">./module/ZfModule/src</directory>
        </whitelist>
    </filter>
</phpunit>
