body {
    padding-top: 0;
    padding-bottom: 40px;
    background: url('../img/light_wool.png') repeat;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900 \9;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
* {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif !important;
}

.landing-intro {
    background: #f1f1f1;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    padding-top: 75px;
}

.attentionimage {
    height: 238px;
}

.main-content {
    margin-top: 20px;
}

.module-row {
    margin-bottom: 20px;
}

.module-row .module-info {

}

.module-row .module-author {

}

.module-row .module-info .author-label {
    width: 100px;
}

.module-row .module-meta {

}

.module-row .module-description {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    background:#f8f8f8;
}


.module-row .module-info, .new-module {
    position: relative;
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 5px;
}

.module-row .module-info:after, .module-row .module-info:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.module-row .module-info:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    left: 0%;
    margin-left: 10px;

}
.module-row .module-info:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 11px;
    left: 0%;
    margin-left: 9px;
}

.sidebar {
    background: #f1f1f1;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar .block {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom:15px
}

.sidebar hr {
    margin:5px 0 5px 0;
}

.small-header img {
    float:left;
    height:68px;
    padding:0;
    margin:0;
}

.small-header p {
    font-size:3em;
    font-style:italic;
    margin-top:20px;
}

.small-header {
    padding-top:60px;
}

.error-404 {
    width: 500px;
    height: 617px;
    padding-left: 450px;

    background: url(../img/mwop-404.png) no-repeat;
}

.error-404-speech-bubble {
    position: relative;
    display: inline-block;
    padding: 15px;
    margin-top: 150px;

    border: 3px solid #000000;
    border-radius: 7px;
}

.error-404-speech-bubble:before {
    position: absolute;
    content: '';

    left: -69px;
    top: 50px;

    width: 69px;
    height: 40px;

    background: url(../img/speech-bubble-arrow.png) no-repeat;
}