<?php

return [
    'view_manager' => [
        'display_exceptions' => true,
    ]
    'service_manager' => [
        'factories' => [
            'Zend\Db\Adapter\Adapter' => 'BjyProfiler\Db\Adapter\ProfilingAdapterFactory',
        ],
    ],
];
