<?php
/**
 * ScnSocialAuth Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
$settings = array(
    /**
     * Github Client id
     * 
     * Please specify the client id provided by github
     *
     * You can register a new application at:
     * https://github.com/settings/applications/new
     */
    'github_client_id' => '',
    /**
     * Github Secret
     * 
     * Please specify the secret provided by github
     *
     * You can register a new application at:
     * https://github.com/settings/applications/new
     */
    'github_secret' =>'',
);

/**
 * You do not need to edit below this line
 */
return array(
    'scn-social-auth' => $settings,
);
