<?php
/**
 * EdpGithub Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can 
 * drop this config file in it and change the values as you wish.
 */
$settings = array(
    /**
     * GitHub Client ID
     *
     * Upon registering your application with GitHub, they will give you a 
     * Client ID. Put that Client ID here. If you have not registered your 
     * application with GitHub yet, visit https://github.com/account/applications
     */
    'github_client_id' => 'GITHUB_CLIENT_ID_GOES_HERE',

    /**
     * GitHub Client Secert
     *
     * Upon registering your application with GitHub, they will give you a 
     * Client Secret. Put that Client Secret here. If you have not registered your 
     * application with GitHub yet, visit https://github.com/account/applications
     */
    'github_client_secret' => 'GITHUB_CLIENT_SECRET_GOES_HERE',

    /**
     * GitHub Callback URL
     *
     * Specify the URL that GitHub should redirect the users back to after
     * authorizing your application. If false or null, GitHub will use the
     * callback URL registered with GitHub. If set, it must be on the same
     * domain as the callback URL registered with GitHub.
     *
     * Accepted values: a URL or boolean false / null
     */
    'github_callback_url' => false,

    /**
     * PDO Connection DI alias
     *
     * Please specify the DI alias for the configured PDO instance that
     * EdpGithub should use.
     */
    'zend_db_pdo' => 'masterdb',
);

/**
 * You do not need to edit below this line
 */
return array(
    'edpgithub' => $settings,
    'di' => array(
        'instance' => array(
            'alias' => array(
                'edpgithub_pdo' => $settings['zend_db_pdo'],
            ),
        ),
    ),
);
