<?php

return [
    'db' => [
        'driver'   => 'pdo',
        'dsn'      => 'mysql:dbname=modules_test;host=localhost',
        'username' => 'root',
        'password' => '',
    ],
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'root',
                    'password' => '',
                    'dbname'   => 'modules_test',
                ],
            ],
        ],
    ],
];
